:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #888888;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --hospital-green-active: #7db385;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
